*~
.#*
#*
*.pyc
*.dia
design.pdf
notes.txt
Data
Firmware/.X
Firmware/Boot/.immediate
Firmware/Boot/.output
Firmware/Boot/gpsboot.mcs
Firmware/Boot/gpsboot.mcw
Firmware/Boot/gpsboot.mptags
Firmware/Boot/gpsboot.tagsrc
